<footer class="footer">
  <div class="container">
    <div class="pull-right btn-group">{% if page.previous.url %} <a class="btn btn-info" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i> Artikel sebelumnya</a>  {% endif %}  |  <a class="btn btn-info" href="#">Keatas</a>  |  {% if page.next.url %}  <a class="btn btn-info" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">Artikel selanjunya <i class="icon-chevron-right"></i></a>  {% endif %} </div>        
    <p>Halaman terakhir ditulis/diperbaiki pada {{ site.time | date: "%B %e, %Y" }}</p>
    <p>Jika penting, <a href="https://github.com/hendriono/feedback/issues/new" title="Hendriono Feedback"  target="_blank" >tinggalkan umpan balik</a>.</p> 
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script> 
  </div>
</footer>