<footer class="footer">
  <div class="container">
    <div class="pull-right btn-group">{% if page.previous.url %} <a class="btn btn-small btn-info" href="{{page.previous.url}}" title="Artikel Sebelumnya: {{page.previous.title}}" rel="prev"><i class="icon-chevron-left"></i> Sebelumnya</a>  {% endif %}  |  <a class="btn btn-small btn-info" href="#"><i class="icon-arrow-up"></i> Atas</a>  |  {% if page.next.url %}  <a class="btn btn-small btn-info" href="{{page.next.url}}" title="Artikel Berikutnya: {{page.next.title}}" rel="next">Selanjutnya <i class="icon-chevron-right"></i></a>  {% endif %} </div>
    <p>Copyright 2012 <a href="{{ site.production_url }}">{{ site.author.name }}</a>. Halaman terakhir ditulis/diperbaiki pada {{ site.time | date: "%B %e, %Y" }}</p>
    <p>Jika penting, <a href="https://github.com/hendriono/feedback/issues/new" title="Hendriono Feedback"  target="_blank" >tinggalkan umpan balik</a>.</p>
  </div>
</footer>