<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <title>{{ site.maintitle }} - {{ page.title }}</title>
  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/github/WnAr" title="Hendriono Blog Feed - hendriono.github.org">

  <!-- Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/js/prettify/prettify.css" rel="stylesheet">

  <!-- Fav dan Touch Icons -->
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/72.png">
  <link rel="apple-touch-icon-precomposed" href="/ico/57.png">

  <!-- Perpustakaan Modernizr dan Respond.js -->
  <script src="/js/modernizr-2.0.min.js"></script>
  <script src="/js/respond.min.js"></script>
</head>