<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Article"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="{{ page.robots }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta itemprop="name" content="{{ site.maintitle }}">
  <meta itemprop="image" content="">
  <meta property="og:type" content="blog">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="">
  <meta property="og:url" content="{{ site.production_url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.maintitle }}">
  <meta property="fb:app_id" content="">
  <meta property="fb:admins" content="100001564828259">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  <meta itemprop="description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  <meta itemprop="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  {% endif %}
  <title>{{ page.title }} - {{ site.maintitle }}</title>
  <link rel="canonical" href="{{ site.production_url }}{{ page.url | canonical }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.maintitle }} Feed" href="/atom.xml">
  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/kyllblogit" title="{{ site.maintitle }} RSS">

  <!-- Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/js/prettify/prettify.css" rel="stylesheet">

  <!-- Fav dan Touch Icons -->
  <link rel="shortcut icon" href="/favicon.ico" type='image/x-icon'>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/72.png">
  <link rel="apple-touch-icon-precomposed" href="/ico/57.png">

  <!-- HTML5 shim, untuk IE6-8 agar mendukung elemen HTML5 -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Perpustakaan Modernizr dan Respond.js -->
  <script src="/js/modernizr-2.0.min.js"></script>
  <script src="/js/respond.min.js"></script>
</head>