<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="brand" href="http://hendriono.github.com">Kyll BloGit</a>
    <div class="nav-collapse">
      <ul class="nav">
        <li class=""><a href="http://hendriono.github.com"><i class="icon-home"></i>  Beranda </a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i>  Jejaring <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class=""><a href="http://www.twitter.com/dedehendriono" title="Go to twitter.com/hendriono" target="_blank">Twitter</a></li>
            <li class=""><a href="http://github.com/hendriono" title="Go to github.com/hendriono" target="_blank">GitHub</a></li>
            <li class=""><a href="http://delicious.com/hendriono" title="Go to delicious.com/hendriono" target="_blank">Delicious</a></li>
            <li class=""><a href="http://www.linkedin.com/in/hendriono" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
            <li class=""><a href="http://coderwall.com/hendriono" title="Go to coderwall/hendriono" target="_blank">Coderwall</a></li>
            <li class="divider"></li>
            <li class=""><a href="http://feeds.feedburner.com/github/WnAr" title="Go to feedburner" target="_blank">RSS</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i>  Halaman <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class=""><a href="http://hendriono.github.com/categories.html" title="Kategori">Kategori</a></li>
            <li class=""><a href="http://hendriono.github.com/tags.html" title="Tags">Tags</a></li>
            <li class=""><a href="http://hendriono.github.com/archive.html" title="Arsip">Arsip</a></li>
            <li class=""><a href="http://hendriono.github.com/" title="Go to my For Sale Items">Parting Out the Civic</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>