<div class="row-fluid"> 
  <div class="span12 column">
    {% if site.related_posts.size >= 1 %}
      <h2>Artikel Terkait</h2>
      <ul>
        {% for post in site.related_posts limit: 5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> <span>[{{ post.date | date_to_string }}]</span></li>
        {% endfor %}
      </ul>
      {{ page.category_name }}
      {{ site.categories.[page.category_name] }}
    {% endif %}
  </div>
</div>

<div class="row-fluid">
  <div class="span6 columns">&nbsp;</div>
  <div class="span6 column">
  <p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a>   {% endif %}   {% if page.next.url %}  <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a>   {% endif %} </p>  
  </div>
</div>

<div class="row-fluid"> 
    <div class="span12 columns" id="post-comments">
    {% if page.comments %}   
    <h2><a href="http://hendriono.github.com{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}"></a></h2>
    <div id="disqus_thread"></div>
    <button class="btn btn-small" onclick="$.ajaxSetup({cache:true});$.getScript(&quot;http://hendgithub.disqus.com/embed.js&quot;);$.ajaxSetup({cache:false});$(this).remove();" style="width:100%;margin:10px auto;" type="button"><strong>Klik untuk membuka area komentar atau untuk menuliskan sebuah komentar</strong></button>
    {% endif %}
  </div>
</div>

<!-- Twitter -->
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<!-- Google + -->
<script type="text/javascript">
  (function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>