<div class="row"> 
  <div class="span9 column">
    {% if site.related_posts.size >= 1 %}
      <h2>Artikel Terkait</h2>
      <ul>
        {% for post in site.related_posts limit: 5 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      {{ page.category_name }}
      {{ site.categories.[page.category_name] }}
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="span3 columns">&nbsp;</div>
  <div class="span6 column">
  <p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a>   {% endif %}   {% if page.next.url %}  <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a>   {% endif %} </p>  
  </div>
</div>

<div class="row"> 
    <div class="span9 columns">    
    <h2>Area Komentar</h2>
      <p>Jangan ragu untuk mengomentari artikel tetapi tetap sesuai dengan topik.</p> 
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'hendgithub';
      var disqus_identifier = '{{ page.url }}';
      var disqus_url = 'http://hendriono.github.com{{ page.url }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Mohon aktifkan JavaScript untuk melihat <a href="http://disqus.com/?ref_noscript">komentar yang disediakan oleh Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">komentar blog disediakan oleh <span class="logo-disqus">Disqus</span></a>
  </div>
</div>

<!-- Twitter -->
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<!-- Google + -->
<script type="text/javascript">
  (function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>