{% include head.html %}
  
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    
    {% include navigation.html %}

    <div class="container hentry">
      <div class="marketing">
        <div class="content">
          <div class="row">
            <div class="span8 columns">
              {{ content }}
            </div>
              <aside>
              <div class="span4 columns">
                {% include aboutme.html %}
              </div>
              <div class="span4 columns">
                {% include archive.html %}
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
    {% include analytics.html %}
    {% include chromeframe.html %}

  </body>
</html>